<div class="col-sm-6">
    <div class = "col-sm nav-align">
        <div class="dropdown">
            <button class ="dropbtn">Dropdown</button>
            <div class = "dropdown-content">
                <a href = "/" >
                    Home page
                </a>
                <a href = "/register">
                    Register page
                </a>
                <a href = "/users">
                    All users
                </a>
            </div>
        </div>
    </div>
    <h1>Welcome!</h1>
    <p>This site is a Learning Log. This allows users to log the topics they're interested in and to make journal entries as they learn about each topic. </p>
</div>