<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome!</h1>
    <p>This site is a Learning Log. This allows users to log the topics they're interested in and to make journal entries as they learn about each topic. </p>
  </body>
</html>
