<!-- The form for registering a new user-->
<div class="col-sm-6">
    <form action="/registering" method="post" autocomplete="off">
        <h2>Create a new user:</h2><br>
        <label for = "inputUserName"><b>Username:</b></label><br>
        <input type = "text" name = "userName" id = "inputUserName" placeholder = "Username" autofocus required><br>
        <label for = "email"><b>Email:</b></label><br>
        <input type = "email" name = "email" id = "inputEmail" placeholder = "email" required><br>
        <label for = "password"><b>Password:</b></label><br>
        <input type = "password" name = "password" id = "inputPassword" placeholder = "password" required><br>
        <button type = "submit" name = "submit" id="registeringButton">Create account</button>
    </form>
</div>