<!-- The form for registering a new user-->

<form action="/registering" method="post">
    <h2>Create a new user:</h2>
    <label for = "inputUserName">Username</label>
    <input type = "text" name = "userName" id = "inputUserName" placeholder = "Username" autofocus>
    <label for = "email">Email</label>
    <input type = "inputEmail" name = "email" id = "inputEmail" placeholder = "email">
    <label for = "password">Password</label>
    <input type = "inputPassword" name = "password" id = "inputPassword" placeholder = "password">
    <input type = "submit" name = "submit">
</form>