<form action="/registering" method="post">
    <label for = "userName">Username</label>
    <input type = "text" name = "userName" placeholder = "Username">
    <label for = "email">Email</label>
    <input type = "email" name = "email" placeholder = "email">
    <label for = "password">Password</label>
    <input type = "password" name = "password" placeholder = "password">
    <input type = "submit" name = "submit">
</form>