<div class="container">
    <div class = "col-sm-6"><a href="/topics">Topics</a></div>
    <div class="col-sm-6">
      <h1>You can add more topics below!</h1>
    </div>
    <form action = "savingTopics" method = "post">
        <label for = "inputTopic">New topic</label>
        <input type = "text" name = "topicName" id = "inputTopic" placeholder = "Topic name" autofocus>
        <input type = "submit" name = "submit">
    </form>
  </div>